﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/ContentCSS")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="main-background">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logo" href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <img src="/Content/logo.png" title="title" alt="additional title" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @if (@User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav" style="margin-left:50px">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle collapse" style="padding-left: 50px;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Activities<span class="caret"></span></a>
                            <ul class="dropdown-menu" style="background-color: #101010; color: white;">
                                <li class="text_color">@Html.ActionLink("Record Activity", "LogActivity", "Home")</li>
                                <li class="text_color">@Html.ActionLink("Minimum Calorie Intake", "CalculatorCalories", "Home")</li>
                                <li class="text_color">@Html.ActionLink("Record Consumed Calorie", "CaloriesPerDay", "Home")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Workout Graphs", "Index", "Graphs")</li>
                        <li>@Html.ActionLink("Workout Planning", "Index", "WorkoutPlanning")</li>
                        <li>@Html.ActionLink("Events", "GetArticle", "Home")</li>
                        <li class="text_color">@Html.ActionLink("Nearest Gyms", "GetNearestGym", "Home")</li>
                        <li>
                                <span id="open-chat" class="glyphicon glyphicon-info-sign" aria-hidden="true" style="font-size: 30px; padding:8px"></span>
                        </li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @if(@User.Identity.IsAuthenticated){
        <div style="position: relative">
            @Html.Partial("Chat")
        </div>
        }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/jquery.ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src="~/Scripts/chat.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
