﻿<div id="chat-window" style="position: fixed; width: 600px; height: 200px;right: 0%;bottom: 22%;margin-left: -300px;">
    <div class="box box-danger direct-chat direct-chat-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Your personal chat with trainer!</h3>
            <div class="box-tools pull-right">
                <button id="close-button" class="btn btn-box-tool" style="background-color: #dd4b39;" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div id="conversaton-container" class="direct-chat-messages">
                <div id="admin-chat-part" class="direct-chat-msg">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">Alexander Pierce</span>
                        <span class="direct-chat-timestamp pull-right"> @DateTime.Now.ToString("HH:mm")</span>
                    </div>
                    <img class="direct-chat-img" src="http://www.freeiconspng.com/uploads/gym-icon-png-kansas-city-5.png" alt="message user image">
                    <div class="direct-chat-text">
                        Hello.How can I help You, Sir?
                    </div>
                </div>            
            </div>
            
            <div class="direct-chat-contacts">
                <ul class="contacts-list">
                    <li>
                        <a href="#">
                            <img class="contacts-list-img" src="../dist/img/user1-128x128.jpg" alt="Contact Avatar">
                            <div class="contacts-list-info">
                                <span class="contacts-list-name">
                                    Count Dracula
                                    <small class="contacts-list-date pull-right">2/28/2015</small>
                                </span>
                                <span class="contacts-list-msg">How have you been? I was...</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box-footer">
            <div class="input-group">
                <input id="UserInput" onkeypress="runScript" type="text" name="message" placeholder="Type Message ..." class="form-control">
                <span class="input-group-btn">
                    <button id="SendButton" type="button" class="btn btn-danger btn-flat">Send</button>
                </span>
            </div>
        </div>
    </div>
</div>
