﻿
<h2>Workout graphs</h2>
<div style="background-color: white; opacity: 0.8">
    <div style="margin: auto; text-align: center">
        <label class="label label-success" style="font-size: 20px;">Calory deficit comparison</label>    
    </div>
    <div id="bar-example" style="height: 250px;"></div>
</div>
<div style="background-color: white; opacity: 0.8; margin-top: 60px;">
    <div style="margin: auto; text-align: center">
        <label style="font-size: 20px; " class="label label-success">Workout intensity comparison</label>
    </div>
        <div id="line-graph" style="height: 250px;"></div>
</div>

@section scripts
{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <script>
        $(function() {

            $.connection.hub.start()
                .then(function() {
                    console.log("Connected!:)");
                    $.connection.graphs.server.send();
                });

            $.connection.graphs.client.sendCaloriesData = function(data) {
                Morris.Bar({
                    element: 'bar-example',
                    data: data,
                    xkey: 'Date',
                    ykeys: ['Calories', 'LastMonthCalories'],
                    labels: ['Deficit of calories','Last month deficit']
                });
            };
            $.connection.graphs.client.sendData = function(data) {
                console.log(data);
                Morris.Line({
                    element: 'line-graph',
                    data: data,
                    parseTime:false,
                    xkey: 'Date',
                    ykeys: ['Intensivity', 'LastMonthIntensivity'],
                    labels: ['Intensivity', 'Last Month Intensivity']
                });
            };
        });
    </script>

}


