﻿@model Hekaton.Models.Calories.CaloriesPointModel
@using (Html.BeginForm())
{
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(s => s.Calories, "Eaten Calories today [kcal] :")
            </div>
            <div class="col-md-5">
                @Html.TextBoxFor(s => s.Calories, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Calories, null, new { @class = "alert-unique" })<br /><br />
            </div>
        </div>

    </div>
    <div class="input">
        <input type="submit" name="submit" value="Submit" style="font-size: 1.0em; color: white; background-color: #808080" />
    </div>
}
