﻿@model Hekaton.Models.ArticlesModel
@using (Html.BeginForm())
{
    <div class="container article-container ">
        @foreach (var article in Model.ArticlesList)
        {

            <ul>
                <li>
                    <strong>
                        <div>
                            <a href="@article.ArticleUrl">@article.Name</a>
                        </div>
                    </strong>
                </li>
            </ul>

        }
    </div>
}
