﻿<style>
    #map {
        position: static !important;
        
    }
    
</style>
<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaU_Aummei4VbfIl1OYI5RdKtB6hwNtqI&callback&libraries=places&callback=initMap" async defer></script>
<script src="~/Scripts/map.js"></script>