﻿@model Hekaton.Models.Activity.WorkoutModel
@using (Html.BeginForm())
{

    <div class="form-group input-group-sm">
        @Html.LabelFor(model => model.DateTime, "Date time : ", new { @class = "col-md-2" })
        @Html.TextBoxFor(model => model.DateTime, new { @class = "form-control datepicker" })
        @Html.ValidationMessageFor(model => model.DateTime, null, new { @class = "col-md-offset-2 alert-unique" })
    </div>

    @Html.LabelFor(s => s.Sets, "Sets : ", new { @class = "col-md-2" })
    @Html.TextBoxFor(s => s.Sets, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Sets, null, new { @class = "col-md-offset-2 alert-unique" })<br /><br />

    @Html.LabelFor(s => s.Reps, "Reps : ", new { @class = "col-md-2" })
    @Html.TextBoxFor(s => s.Reps, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Reps,null, new { @class = "col-md-offset-2 alert-unique" })<br /><br />

    @Html.LabelFor(s => s.Weight, "Weight [kg]: ", new { @class = "col-md-2" })
    @Html.TextBoxFor(s => s.Weight, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Weight, null, new { @class = "col-md-offset-2 alert-unique" })<br /><br />

    <div class="input">
        <input type="submit" name="submit" value="Submit" style="font-size:1.0em; color:white ;background-color:#808080" />
    </div>
        }
@section scripts{
    <script type="text/javascript">
        $(function() { // will trigger when the document is ready
            $('.datepicker').datepicker(); 
            $('.datePicker').val(new Date().toDateInputValue());
        });
    </script>
}

