﻿@{
    ViewBag.Title = "Home Page";
}

<div class="background" style="text-align: center">
    <h1>Activity Manager</h1>
    <p class="lead">Welcome in our app, have fun!</p>
</div>

<div class="row">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="https://image.freepik.com/darmowe-zdjecie/mi%C4%99%C5%9Bni-osi%C4%85gni%C4%99ciem-si%C5%82ownia-cz%C5%82owiek-aktywny_1139-707.jpg" alt="..." width="600" height="600" style="margin: auto">
            </div>
            <div class="item">
                <img src="https://image.freepik.com/darmowe-zdjecie/kobieta-u%C5%9Bmiecha-si%C4%99-siedz%C4%85c-na-maszynie-wagi_1286-116.jpg" alt="..." width="600" height="600" style="margin: auto">
            </div>
            <div class="item">
                <img src="https://image.freepik.com/darmowe-zdjecie/male-motywacja-aktywno%C5%9B%C4%87-mi%C4%99%C5%9Bniowa-ta%C5%84ca_1139-716.jpg" alt="..." width="600" height="600" style="margin: auto">
            </div>
            <div class="item">
                <img src="https://image.freepik.com/darmowe-zdjecie/piel%C4%99gnacja-m%C4%99skiej-zdrowi-ci%C4%99%C5%BCary-sportowiec_1139-695.jpg" alt="..." width="600" height="600" style="margin: auto">
            </div>
            <div class="item">
                <img src="https://image.freepik.com/darmowe-zdjecie/fit-blond-kobieta-wykonywania_1153-915.jpg" alt="..." width="600" height="600" style="margin: auto">
            </div>
            <div class="item">
                <img src="https://image.freepik.com/darmowe-zdjecie/waga-m%C4%99%C5%BCczyzna-hantle-fitness-dla-doros%C5%82ych_1303-465.jpg" alt="..." width="600" height="600" style="margin: auto">
            </div>
            ...
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>