﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: white;
}
.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
    color: black;
}

.background {
    background-color: rosybrown;
    opacity: 0.6;
}

.main-background {
    background-image: url('../Content/image.jpg');
    margin-top: 80px;
    padding-top: 20px;
    background-repeat: repeat-x;
    background-position: 0 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.other {
    margin-top: 0;
}

.input {
    padding-left: 200px;
}

.formateTable{
    background-color: white;
    opacity: 0.8;
    color: black;
    min-height: 320px;
    border-radius: 20px;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 1px;
}

.article-container {
    height: 550px;
    overflow-y: auto;
    color: blue;
        border: 3px solid blue;
    border-radius: 25px;    background-color: white;
    opacity: 0.8;
    padding: 30px;
}

.middle {
    margin-left: 200px;
}

.text_color {
    color: #9d9d9d !important;
   
}

 .dropdown-menu > li > a {
        color: #9d9d9d !important;
 }

 .alert-unique{
     color: red;
     font-weight: bold;
 }

 .logo {
     position: fixed;
     top: 0px;
     left: 20px;
 }
 
.right-msg {
    background-color: blue;
}

#UserInput {
    z-index: 1263;
}