﻿
<head>
    <style>
        body {
            margin-top: 40px;
            text-align: center;
            font-size: 14px;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        }

        #external-events {
            float: left;
            width: 150px;
            padding: 0 10px;
            border: 1px solid #ccc;
            background: #eee;
            text-align: left;
            color: black;
        }
        #external-events h4 {
            font-size: 16px;
            margin-top: 0;
            padding-top: 1em;
        }
        #external-events .fc-event {
            margin: 13px 0;
            cursor: pointer;
        }
        #external-events p {
            margin: 1.5em 0;
            font-size: 11px;
            color: black;
        }
        #external-events p input {
            margin: 0;
            vertical-align: middle;
        }
        #calendar {
            float: right;
            width: 900px;
            background-color: cornflowerblue;
        }
        .mb-20 {
            margin-bottom: 20px;
        }
    </style>
</head>
<div id='wrap'>
    <div id='external-events'>
        <div id='external-events-listing'>
            <h4>Exercises</h4>
            <div class='fc-event'>Abductors</div>
            <div class='fc-event'>Biceps</div>
            <div class='fc-event'>Calves</div>
            <div class='fc-event'>Chest</div>
            <div class='fc-event'>Triceps</div>
            <div class='fc-event'>Rest</div>
        </div>

    </div>
    <div id='calendar'></div>
    <div style='clear:both'></div>
</div>

@section scripts{
    <script>
        $(document)
            .ready(function () {
                $.connection.hub.start()
                    .then(function () {
                        console.log("Connected!:)");
                        $.connection.workoutPlanning.server.getSavedData();
                    });

                $.connection.workoutPlanning.client.getSavedData = function (planningData) {
                    console.log(planningData);
                    $('#calendar')
                        .fullCalendar('addEventSource',
                        {
                            events: planningData
                        });
                };
                $('#calendar').fullCalendar('unselect');;
                var calEventStatus = [];
                var isEventOverDiv = function (x, y) {
                    var external_events = $('#external-events');
                    var offset = external_events.offset();
                    offset.right = external_events.width() + offset.left;
                    offset.bottom = external_events.height() + offset.top;
                    if (x >= offset.left && y >= offset.top && x <= offset.right && y <= offset.bottom) {
                        return true;
                    }
                    return false;

                };
                function makeEventsDraggable() {
                    $('.fc-draggable')
                        .each(function () {
                            $(this)
                                .data('event',
                                {
                                    title: $.trim($(this).text()), 
                                    stick: true 
                                });
                            $(this)
                                .draggable({
                                    zIndex: 999,
                                    revert: true, 
                                    revertDuration: 0 
                                });
                            console.log('makeEventsDraggable');
                            $("td").removeClass("fc-highlight");
                        });}
                $('#external-events .fc-event')
                    .each(function () {
                        $(this)
                            .data('event',
                            {
                                title: $.trim($(this).text()),
                                stick: true
                            });
                        $(this)
                            .draggable({
                                zIndex: 999,
                                revert: true,
                                revertDuration: 0 
                            });
                    });
                $('#calendar')
                    .fullCalendar({
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek,agendaDay'
                        },
                        editable: true,
                        droppable: true, 
                        dragRevertDuration: 0,
                        eventLimit: true,
                        drop: function (date, jsEvent, ui) {
                            console.log('calendar 1 drop');
                            console.log(date);
                            console.log(jsEvent);
                            console.log(ui);
                            console.log(this);
                            makeEventsDraggable();
                        },
                        eventReceive: function (event) {
                            console.log('calendar 1 eventReceive');
                            $.connection.workoutPlanning.server.saveData({ title: event.title, start: event.start });
                            makeEventsDraggable();
                        },
                        eventDrop: function (event, delta, revertFunc, jsEvent, ui, view) {
                            console.log('calendar 1 eventDrop');
                            makeEventsDraggable();
                        },
                        eventDragStart: function (event, jsEvent, ui, view) {
                            console.log(event);
                            console.log(jsEvent);
                            console.log(ui);
                            console.log(view);
                            calEventStatus['calendar'] = '#calendar';
                            calEventStatus['event_id'] = event._id;
                            console.log('calendar 1 eventDragStart');
                        },
                        eventDragStop: function (event, jsEvent, ui, view) {
                            console.log('calendar 1 eventDragStop');

                            if (isEventOverDiv(jsEvent.clientX, jsEvent.clientY)) {
                                $('#calendar').fullCalendar('removeEvents', event._id);
                                var el = $("<div class='fc-event'>")
                                    .appendTo('#external-events-listing')
                                    .text(event.title);
                                el.draggable({
                                    zIndex: 999,
                                    revert: true,
                                    revertDuration: 0
                                });
                                el.data('event', { title: event.title, id: event.id, stick: true });
                            }
                            calEventStatus = []; 
                            makeEventsDraggable();
                        },
                        eventResize: function (event, delta, revertFunc, jsEvent, ui, view) {
                            makeEventsDraggable();
                        },
                        viewRender: function () {
                            console.log('calendar 1 viewRender');
                            makeEventsDraggable();
                        },
                    });
            });
    </script>
}

